.intro {
  display: flex;
  flex-direction: column;
  padding: 0 0 92px;
  color: white;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 600px;
  }
}

@media screen and (max-width: 400px) {
  .intro {
    padding-bottom: 64px;
    max-width: 288px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
