.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 92px 0 24px;
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 0 24px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    min-width: 186px;
    padding: 64px 0 24px 0;
    margin-left: 16px;
    margin-right: 16px;
  }
}
